<%= simple_form_for @list do |f| %>
<% if @list.errors.any? %>
	    <div id="errors"
	      <h2><%= pluralize(@list.errors.count, "error") %> prevented this list from being saved</h2>
	      <ul>
		    <% @list.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		      <% end %>
	     </ul>
	    </div>
	<% end %>
  <%= f.input :title, label: 'Your list title' %>
  <%= f.input :description, label: 'Describe the list' %>
  <%= f.button :submit %>
<% end %>