

<section class"todo-list">
<div class="col span-1-of-1"></div>
	<div class="row">
		<h2><%= @list.title %></h2>
		<center><p>Created <%= time_ago_in_words(@list.created_at) %> ago</p>
	</div>

	<div class="row">
	<div class="col span-1-or-1">
		<h3><%= @list.description %></h3>
		
			<%= render :partial => 'items/form' %>
		
		<div class="item--js">
			<%= render :partial => @list.items %>
		</div>
	</div>
	</div>
</section>