

<section class"todo-list">
<h2><%= @list.title %></h2>
<center><p><%= @list.created_at.strftime("%d %b. %Y") %></p></center>
<div class="row">
	<div class="col span-1-of-2">
		<h3><%= @list.description %></h3>
			<%= render :partial => 'items/form' %>
	</div>
	<div class="col span-1-of-2">
		<div class="item--js">
			<%= render :partial => @list.items %>
	</div>		
</div>
</section>