<%= render 'shared/header' %>


<section class="section-features js--section-features" id="features">         
    <div class="row js--wp-1">
        <div class="col span-1-of-2 box">
            <i class="ion-ios-clock-outline icon-big"></i>
            <h3>Get shit done!</h3>
            <p>
                Research has proven time and again that those who write goals down get more done and are in general more successful!
            </p>
        </div>
        <div class="col span-1-of-2 box">
            <i class="ion-ios-checkmark-empty icon-big"></i>
            <h3>Easy and convenient</h3>
            <p>
                Just sign up, make a list, and check things off as you go. You'll be surprised how much you can get done just by having a list of things in front of you.
            </p>
        </div>
    </div>   
</section>

<section class="section-list js--section-list">
	<div class="row">
	<div class="col span-1-of-2">
	<h2>Create a list</h2>
		<%= render 'lists/form' %>
	</div>
	<div class="col span-1-of-2">
		<h2>Current lists</h2>
					<ul class="home-list">
				<% @lists.each do |list| %>
					<li><%=link_to "#{list.title}", list_path(list) %>  - created <%= time_ago_in_words(list.created_at) %> ago -  <%= link_to 'Delete', [list],
                  method: :delete,
                  class:  "button",
                  data: {confirm: 'Are you sure?'}   %></li>
					<% end %>
				</ul>
				<center><%= will_paginate @lists %></center>		
	</div>				
</section>